

/* *altera tudo oq estiver dentro do bory */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

/* estilizando o header */

.header{
    
    background-color: #9400d3;
    padding: 10vh;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-size: 2vh;

}
.header li a{
    padding: 10px;
    color: white;
    cursor: pointer;
}
.header a:hover{
    color: black;
    transition: 0.8s;
}

/* seção 2  */

#sesao2{
    padding: 39vh;
    background: linear-gradient(321deg, rgba(255,255,255,1) 0%, rgba(148,0,211,1) 92%);
    color: white;
    font: fallback;flex-wrap: wrap;

}

h1{
    font-size: 4rem;
}

#sesao2 p{
    font-size: 2em;
}

#sesao2 a button{
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 15px;
    background-color: #9400d3;
    color: white;
    width: 16vw;
    height: 5vw;
}

#sesao2 button:hover{
    background-color: white;
    transition: 0.8s;
    color: #9400d3;
    cursor: pointer;
    border-color: #9400d3;
}

/* 3 parte do site nubank */

#app{
    display: flex;
    padding: 9vw;
}

.div3{
    padding: 40px;
    font-size: 30px;
}

#div4{
    margin-left: 250px;
}

#app a button{
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 15px;
    background-color: #9400d3;
    color: white;
    width: 16vw;
    height: 5vw;
}

#app button:hover{
    background-color: white;
    transition: 0.8s;
    color: #9400d3;
    cursor: pointer;
    border-color: #9400d3;
}

#descricao{
    padding: 30vh;
    background-color: #bc4ed8;
    flex-wrap: wrap;
    color: white;
}
#descricao h2{
    font-size: 40px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 45px;
}
#descricao p{
    font-size: 25px;
    text-align: justify;
    margin-top: 25px;
}

#descricao a button{
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #9400d3;
    color: white;
    width: 16vw;
    height: 5vw;
}

#descricao button:hover{
    background-color: white;
    transition: 0.8s;
    color: #9400d3;
    cursor: pointer;
    border-color: #9400d3;
}
.line{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

#descricao img{
     width: 60%;
     height: 60%;
     margin-top: -30px;
     margin-left: 15vw;
}

.imgfundo{
    background-image: url(imagens/Nubank\ fundo.webp);
    width: 100%;
    background-size: cover;
    background-repeat: no repeat;
}
